@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
p {
  font-family: 'Poppins', sans-serif;
}

// Overwrites
h1 {
  font-size: $s-font-size-page-header !important;
  line-height: $s-line-height-page-header !important;
  font-weight: 500;
  letter-spacing: -0.005em;
  color: $grey4;

  @include large-breakpoint {
    font-size: $l-font-size-page-header !important;
    line-height: $l-line-height-page-header !important;
  }
}

h2 {
  font-size: $s-font-size-section-header !important;
  line-height: $s-line-height-section-header !important;
  font-weight: 600;
  color: $blue6;

  @include large-breakpoint {
    font-size: $l-font-size-section-header !important;
    line-height: $l-line-height-section-header !important;
  }
}

h3 {
  font-size: $s-font-size-card-header !important;
  line-height: $s-line-height-card-header !important;
  font-weight: 500;
  color: $blue6;

  @include large-breakpoint {
    font-size: $l-font-size-card-header !important;
    line-height: $l-line-height-card-header !important;
  }
}

.sub-header {
  font-size: $ls-font-size-sub-header !important;
  line-height: $ls-line-height-sub-header !important;
  color: $grey5;
}

.strong-p {
  font-size: $ls-font-size-paragraph !important;
  line-height: $ls-line-height-paragraph !important;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: $blue6;
}

p,
li {
  font-size: $ls-font-size-paragraph !important;
  line-height: $ls-line-height-paragraph !important;
  color: $grey4;
}


body {
  background-color: $white;
}

a:hover {
  text-decoration: none;
}
