// //// SCREEN SIZES
$fixed-screen-size: 1280px;
$screen-size-phone: 738px;
$screen-size-tablet: 1000px;

// Breakpoints
// Small smartphones (portrait view)
$screen-xsmall-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-small-min: 540px;

// Small tablets (portrait view)
$screen-medium-min: 768px;

// Tablets and small desktops
$screen-large-min: 992px;

// Large tablets and desktops
$screen-xlarge-min: 1400px;

// Extra small devices
@mixin xsmall-breakpoint {
  @media (min-width: #{$screen-xsmall-min}) {
      @content;
  }
}


// Small devices
@mixin small-breakpoint {
  @media (min-width: #{$screen-small-min}) {
      @content;
  }
}

// Medium devices
@mixin medium-breakpoint {
  @media (min-width: #{$screen-medium-min}) {
      @content;
  }
}

// Large devices
@mixin large-breakpoint {
  @media (min-width: #{$screen-large-min}) {
      @content;
  }
}

// Extra large devices
@mixin xlarge-breakpoint {
  @media (min-width: #{$screen-xlarge-min}) {
      @content;
  }
}


// FONT SIZES

// Pop's
$l-font-size-page-header: 52px;
$l-line-height-page-header: 78px;
$s-font-size-page-header: 35px;
$s-line-height-page-header: 52px;

$l-font-size-section-header: 34px;
$l-line-height-section-header: 51px;
$s-font-size-section-header: 22px;
$s-line-height-section-header: 33px;

$l-font-size-card-header: 27px;
$l-line-height-card-header: 45px;
$s-font-size-card-header: 19px;
$s-line-height-card-header: 28px;

$ls-font-size-sub-header: 18px;
$ls-line-height-sub-header: 27px;

$ls-font-size-paragraph: 16px;
$ls-line-height-paragraph: 27px;

// Old
$font-size-xxsmall: 14px;
$font-size-xsmall: 16px; //spec
$font-size-small: 20px; //spec
$font-size-small-medium: 24px;
$font-size-medium: 30px; //spec
$font-size-large: 36px; //spec
$font-size-xlarge: 40px;
$font-size-xxlarge: 60px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-sizes: (
  xxsmall $font-size-xxsmall,
  xsmall $font-size-xsmall,
  small $font-size-small,
  smallmedium $font-size-small-medium,
  medium $font-size-medium,
  large $font-size-large,
  xlarge $font-size-xlarge,
  xxlarge $font-size-xxlarge
);

//// SPACINGS
// Note: If you're adding to this, make sure to update the value and the array
$spacing-xxsmall: 2.5px;
$spacing-xsmall: 5px;
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;
$spacing-xlarge: 60px;
$spacing-xxlarge: 90px;

$spacing-sizes: (
  xxsmall $spacing-xxsmall,
  xsmall $spacing-xsmall,
  small $spacing-small,
  medium $spacing-medium,
  large $spacing-large,
  xlarge $spacing-xlarge,
  xxlarge $spacing-xxlarge,
  none 0
);

// RADIUS
$border-radius-small: 14px;
$border-radius-large: 20px;

//// COLORS
$blue1: #3740EA;
// main nav cta
$blue2: #0814E4;
// card icon
$blue3: #5F66ED;
// contact section
$blue4: #4C53D6;
// a bit about me icons
$blue5: #252885;
//input title
$blue6: #151849;
// second nav cta
$grey1: #F5F5F5;
// second section cta
$grey2: #F9FAFC;
// tools icon
$grey3: #4E4F56;
// heading
$grey4: #10123E;
// text
$grey5: #8E8F9F;
// sub-header
$grey6: #434564;



$white: #ffffff;

$brand-primary: #75a9bf;
$brand-secondary: #2C3E50;

$gray-base: #4f5c69;

$gray-very-dark: darken($gray-base, 20%);
$gray-dark: #043c4b;
$gray-medium: $gray-base;
$gray-light: #bed1d6;
$gray-very-light: #ecf0f2;

$color-positive: #1EAE90;
$color-warning: #f78e52;
$color-negative: #ff2e08;
$color-info: #3498d8;

$colors: (
  "positive" $color-positive,
  "warning" $color-warning,
  "negative" $color-negative,
  "info" $color-info,
  "brand-primary" $brand-primary,
  "brand-secondary" $brand-secondary,
  "gray-very-dark" $gray-very-dark,
  "gray-dark" $gray-dark,
  "gray-medium" $gray-medium,
  "gray-light" $gray-light,
  "gray-very-light" $gray-very-light,
  "white" $white
);
