.invisible h1 {
  display: none;
}

.horizontal-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content-container {
  padding: 5rem;
  color: white;
  height: 40vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.hero {
  margin-top: 5rem;
}

.half-left{
  margin: 2.4rem 1.2rem 0 0;
}

.half-right{
  margin: 2.4rem 0 0 1.2rem;
}

.cream {
  background-color: var(--port-cream)
}

.green {
  background-color: var(--port-green);
}

.blue {
  background-color: var(--port-blue);
}

.orange {
  background-color: var(--port-orange);
}
