.invisible h1 {
  display: none;
}

.horizontal-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content-container {
  padding: 3.5em;
  color: white;
  height: 40vh;
}

.content-container.hero {
  height: 45vh;
}

.icon {
  font-size: 30px;
  margin-top: 1em;
}

.icon svg {
  margin-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: #b1b1b1 !important;
  font-size: 1em !important;
  line-height: 1.5em !important;
  letter-spacing: .02em !important;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 5px !important;
}

a:hover {
  color: white !important;
}

p {
  margin-bottom: 5px !important;
}

.hero {
  margin-top: 5rem;
}

.half-left{
  margin: 2.4rem 1.2rem 0 0;
}

.half-right{
  margin: 2.4rem 0 0 1.2rem;
}

.cream {
  background-color: var(--port-cream)
}

.green {
  background-color: var(--port-green);
}

.blue {
  background-color: var(--port-blue);
}

.orange {
  background-color: var(--port-orange);
}
