//// COLORS
// main cta
$blue1: #3740EA;
// main nav cta
$blue2: #0814E4;
// card icon
$blue3: #5F66ED;
// contact section
$blue4: #4C53D6;
// a bit about me icons
$blue5: #252885;
//input title
$blue6: #151849;
// second nav cta
$grey1: #F5F5F5;
// second section cta
$grey2: #F9FAFC;
// tools icon
$grey3: #4E4F56;
// text
$grey4: #8E8F9F;
// heading
$grey5: #10123E;
// sub-header
$grey6: #434564;




// Breakpoints
// Small smartphones (portrait view)
$screen-xsmall-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-small-min: 540px;

// Small tablets (portrait view)
$screen-medium-min: 768px;

// Tablets and small desktops
$screen-large-min: 992px;

// Large tablets and desktops
$screen-xlarge-min: 1400px;

// Extra small devices
@mixin xsmall-breakpoint {
  @media (min-width: #{$screen-xsmall-min}) {
      @content;
  }
}


// Small devices
@mixin small-breakpoint {
  @media (min-width: #{$screen-small-min}) {
      @content;
  }
}

// Medium devices
@mixin medium-breakpoint {
  @media (min-width: #{$screen-medium-min}) {
      @content;
  }
}

// Large devices
@mixin large-breakpoint {
  @media (min-width: #{$screen-large-min}) {
      @content;
  }
}

// Extra large devices
@mixin xlarge-breakpoint {
  @media (min-width: #{$screen-xlarge-min}) {
      @content;
  }
}

// =====================================================


// .skills-header-section {
//   text-align: center;
//   margin-top: 30px;
// }

.skills-header-container {
  margin: 90px 0 40px;
  text-align: center;

  p {
    color: $grey4;
  }
}

.skills-section {
  background-color: $grey2;
  padding: 0 5vw 100px;

  .col {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  a:hover {
    text-decoration: none;
  }

  @include medium-breakpoint {
    padding: 15px 10vw 75px;
  }

  @include xlarge-breakpoint {
    padding: 15px 20vw 90px;
  }
}


.skills-header-section {
  background-color: $grey2;
  text-align: center;
  margin-top: 30px;

  @include medium-breakpoint {
    text-align: left;
  }
}


.skills-icons {
  background-color:white;
  display: flex;
  width: 80px;
  height: 80px;
  font-size: 25px;
  color: $grey5;
  border-radius: 100%;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
}
