.horizontal-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// RADIUS
$border-radius-small: 14px;
$border-radius-large: 20px;

//// COLORS
// main cta
$blue1: #3740EA;
// main nav cta
$blue2: #0814E4;
// card icon
$blue3: #5F66ED;
// contact section
$blue4: #4C53D6;
// a bit about me icons
$blue5: #252885;
//input title
$blue6: #151849;
// second nav cta
$grey1: #F5F5F5;
// second section cta
$grey2: #F9FAFC;
// tools icon
$grey3: #4E4F56;
// text
$grey4: #8E8F9F;
// heading
$grey5: #10123E;
// sub-header
$grey6: #434564;

// Breakpoints
// Small smartphones (portrait view)
$screen-xsmall-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-small-min: 540px;

// Small tablets (portrait view)
$screen-medium-min: 768px;

// Tablets and small desktops
$screen-large-min: 992px;

// Large tablets and desktops
$screen-xlarge-min: 1400px;

// Extra extra small devices
@mixin xsmall-breakpoint {
  @media (min-width: #{$screen-xsmall-min}) {
      @content;
  }
}

// Small devices
@mixin small-breakpoint {
  @media (min-width: #{$screen-small-min}) {
      @content;
  }
}

// Medium devices
@mixin medium-breakpoint {
  @media (min-width: #{$screen-medium-min}) {
      @content;
  }
}

// Large devices
@mixin large-breakpoint {
  @media (min-width: #{$screen-large-min}) {
      @content;
  }
}

// Extra large devices
@mixin xlarge-breakpoint {
  @media (min-width: #{$screen-xlarge-min}) {
      @content;
  }
}

.hero-header-section {
  margin-top: 30px;

  @include medium-breakpoint {
    margin-top: 50px;
  }

  p {
    color: $grey4;
  }
}

.hero-header-container {
  text-align: center;

  @include medium-breakpoint {
    text-align: left;
  }
}

.hero-cta-container {
  height: 150px;
  width: 80%;
  margin: 0 auto;

  @include medium-breakpoint {
    margion-top: 100px;
    margin-left: 0;
  }
}

.btn {
  border-radius: $border-radius-large;
  padding: 0;
  font-weight: bold;
  letter-spacing: 0.01em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;

  @include medium-breakpoint {
    justify-content: space-between;
  }

  &:before {
    content: none;
  }

  .btn-primary {
    background-color: $blue1;
    padding: 15px 45px;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .btn-secondary {
    background-color: white;
    color: $blue1;
    border: 1px $blue1 solid;
    border-radius: $border-radius-large;
    padding: 15px 45px;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}


.content-container-body {
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-bottom: 3.5em;
  padding-top: 1em;
  height: 65vh;

  &:first-child {
    height: fit-content;
  }
}


.content-container-hero {
  padding: 3.5em;
  padding-bottom: 0;
}


.content-container.hero {
  height: 45vh;
}


.hero {
  margin-top: 5rem;
}

.btn-positive {
  background-color: $blue1;
}

// Animation
.animation {
  animation-duration: 1.15s;
  animation-fill-mode: both;
} 

.fadeInBottom { animation-name: fadeInBottom }
  @keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
  }